#header{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}
#header > div{
    margin-left: 5px;
    display: inline-grid;
}
#location{
    justify-self: right;
    text-align: right;
    border: 0;
}
#location::placeholder{
    color: black;
    opacity: 1;
}
#change{
    justify-self: left;
    margin-left: 5px;
    padding: 0;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
#currentTemp{
    text-align: center;
}