<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jupiter</title>
        <link rel="stylesheet" href="{% static 'indexcss.css' %}">
        <link rel="stylehseet" href="{% static 'css/cweather-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script src="{% static 'index.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApJ5QaTevQDcKAeHovgFJOeOurAPXGZxs&libraries=places"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    </head>
    <body onload="startfun()">
        <div class="container-fluid m-0 p-0 bg">
            <div class="ms-2 me-2 mt-2 row">
                <div class="col bg-jupiter rounded mb-2">
                    <div class="col">
                        <div class="flex-row ms-2 mt-2">
                            <div>
                                <input id="location" type="text" placeholder="Location" height="10px">
                                <button class="rounded-circle" id="change" type="submit" onclick=changeCity()><img src="{% static 'lupe.png' %}" width="15px" height="15px"></button>
                            </div>
                            <div class="row">
                                <div class="col-2"> <h1>{{ currentTemp }}°C</h1></div>
                                <div class="col weather" style="font-size: 35px">{{ weather }}</div>
                            </div>
                            <div> {{ date }}</div>
                        </div>
                    </div>
                </div>
                <div class="col bg-jupiter rounded ml-0 mb-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Luftfeuchtigkeit</td>
                                <td> {{ humidity }}%</td>
                            </tr>
                            <tr>
                                <td>Wind</td>
                                <td> {{ wind }}km/h</td>
                            </tr>
                            <tr>
                                <td>UV-Index</td>
                                <td> {{ uv }}</td>
                            </tr>
                            <tr>
                                <td>Luftdruck</td>
                                <td> {{ pressure }} mBar</td>
                            </tr>
                            <tr>
                                <td>Min/Max °C</td>
                                <td> {{ min }}/{{ max }} °C</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class=" ms-2 me-2 row rounded ps-1 bg-jupiter mb-2">
                <div><input id="date" type="date"></div>
                <div class="col p-0" id="chart"></div>
            </div>
            <div class=" ms-2 me-2 row rounded ps-1 bg-jupiter">
                <div class="col p-0" id="chart_luft"></div>
            </div>
        </div>
        <script>
            var data = JSON.parse('{{ liste|safe }}');

            var temperatureValues = data.map(d => d.Temperature);
            var luftValues = data.map(d => d.humidity);
            var minTemperature = d3.min(temperatureValues);
            var maxTemperature = d3.max(temperatureValues);
            var minLuft = d3.min(luftValues);
            var maxLuft = d3.max(luftValues);

            var margin = { top: 50, right: 0, bottom: 30, left: 40 };
            var luftmargin = { top: 0, right: 0, bottom: 30, left: 40 };
            var width = window.innerWidth - margin.left - margin.right;
            var luftwidth = window.innerWidth - luftmargin.left - luftmargin.right;
            var height = 250 - margin.top - margin.bottom;

            var svg = d3.select("#chart")
                .append("svg")
                .attr("width", width)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            var luft = d3.select("#chart_luft")
                .append("svg")
                .attr("width", luftwidth)
                .attr("height", height + luftmargin.top + luftmargin.bottom)
                .append("g")
                .attr("transform", `translate(${luftmargin.left},${luftmargin.top})`);

            var parseTime = d3.timeParse("%H:%M:%S");

            data.forEach(d => {
                d.normaltime = parseTime(d.normaltime);
            });

            var x = d3.scalePoint()
            .domain(data.map(d => d.normaltime))
            .range([0, width]);

            var yTemp = d3.scaleLinear()
                .domain([minTemperature, maxTemperature])
                .range([height, 25]);

            var yLuft = d3.scaleLinear()
                .domain([minLuft, maxLuft])
                .range([height, 25]);

            var templine = d3.line()
                .x(d => x(d.normaltime))
                .y(d => yTemp(d.Temperature))
                .curve(d3.curveMonotoneX);

            var luftline = d3.line()
                .x(d => x(d.normaltime))
                .y(d => yLuft(d.humidity))
                .curve(d3.curveMonotoneX)

            luft.append("g")
                .attr("transform", `translate(0,${height})`)
                .call(g => g.call(d3.axisBottom(x)
                    .tickFormat(d3.timeFormat("%H:%M")))
                    .selectAll("path, line")
                    .attr("stroke-opacity", 0.1))
                .call(g => g.selectAll(".tick line").clone()
                    .attr("y2", -height+25)
                    .attr("stroke-opacity", 0.1));

            luft.append("g")
                .attr("transform", `translate(0,0)`)
                .call(g => g.call(d3.axisLeft(yLuft)
                    .tickValues(d3.range(minLuft, maxLuft + 0.01, 0.02))
                    .tickFormat(d => `${Math.round(d * 100)}%`))
                    .selectAll("path, line")
                    .attr("stroke-opacity", 0.1))
                .call(g => g.selectAll(".tick line").clone()
                    .attr("x2", width)
                    .attr("stroke-opacity", 0.1))
                .call(g => g.append("text")
                    .attr("x", -35)
                    .attr("y", -10)
                    .attr("fill", "currentColor")
                    .attr("text-anchor", "start")
                    .attr("font-style", "italic"));

            luft.append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("stroke-width", 2)
                .attr("d", luftline);

            svg.append("g")
                .call(g => g.call(d3.axisLeft(yTemp)
                    .tickValues(d3.range(minTemperature, maxTemperature + 1))
                    .tickFormat(d => `${d}°C`))
                    .selectAll("path, line")
                    .attr("stroke-opacity", 0.1))
                .call(g => g.selectAll(".tick line").clone()
                    .attr("x2", width)
                    .attr("stroke-opacity", 0.1))
                .call(g => g.append("text")
                    .attr("x", -35)
                    .attr("y", -10)
                    .attr("fill", "currentColor")
                    .attr("text-anchor", "start")
                    .attr("font-style", "italic"));

            svg.append("g")
                .attr("transform", `translate(0,${height})`)
                .call(g => g.call(d3.axisBottom(x)
                    .tickFormat(""))
                    .selectAll("path, line")
                    .attr("stroke-opacity", 0.1))
                .call(g => g.selectAll(".tick line").clone()
                    .attr("y2", -height+25)
                    .attr("stroke-opacity", 0.1));

            svg.selectAll(".label")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "label")
                .attr("x", d => x(d.normaltime))
                .attr("y", -10)
                .text(d => `${d.Temperature}°C`)
                .style("font-size", "12px")
                .style("text-anchor", "middle")
                .style("alignment-baseline", "bottom");

            svg.selectAll(".time-label")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "time-label")
                .attr("x", d => x(d.normaltime))
                .attr("y", -25)
                .text(d => d3.timeFormat("%H:%M")(d.normaltime))
                .style("font-size", "12px")
                .style("text-anchor", "middle")
                .style("alignment-baseline", "bottom");

            svg.selectAll(".icon-label")
                .data(data)
                .enter()
                .append("text")
                .attr("class", "icon-label")
                .attr("x", d => x(d.normaltime))
                .attr("y", 10)
                .text(d => d.weather)
                .style("font-family", "weathericons")
                .style("font-size", "18px")
                .style("text-anchor", "middle")
                .style("alignment-baseline", "bottom");

            svg.append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "black")
                .attr("stroke-width", 2)
                .attr("d", templine);
        </script>
    </body>
</html>